
.bgHeader {
    background-color: $color-fondo-negro;
    ul{
        .home:hover, .productos:hover, .sucursales:hover, .acercaDe:hover, .contacto:hover {
            background-color: #ffe9c400; /* Color más brillante al pasar el mouse */
            box-shadow: 0 0 10px #fab731cc; /* Efecto de iluminación */
            color: #fab731cc;
            
        }
    }
    @media screen and (max-width: 768px) {
        ul{
           a{
            text-align: start;
            width: 20% !important;
           }
        }
    }

}

.navbar-expand-lg .navbar-nav .nav-link { /* VER EXPLICACION DE ESTO EN AFTER DE BOOTSTRAP */
    color: rgba(255, 255, 255, 0.623);
    font-family: $fuente-secundaria;
}

.logo {
    width: 45px;
    height: 45px;
}