.offcanvas-title {
    font-size: 1.9rem;
    font-family: "Fjalla One";
    font-weight: 400;
}

.divHrOffcanvas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .hrOffcanvas {
        width: 90%;
        border: 0;
        height: 1.5px;
        background-color: #a37f41;
        opacity: 1;
    }
}

#listaProductosCarrito{
    background-color: rgb(255, 0, 0);
    width: 100%;
}
