.productos {
    background-color: $color-fondo-claro;

    .tituloProductos {
        background-image: linear-gradient(to right top, #00000065, #00000065), url(../assets/img/paquetes_de_yerba.jpg);
        background-position: $alineacion-center;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7), 0 -6px 12px rgba(0, 0, 0, 0.7);

        h1 {
            color: white;
            font-family: $fuente-secundaria;
            font-size: 5rem;
            letter-spacing: 3px;
            text-shadow: 5px 5px 0px #A37F41;
        }

        @media screen and (max-width: 768px) {

            h1 {
                padding-top: 50px !important;
                padding-bottom: 50px !important;
            }

        }

    }

    .imagenesProductos {
        div.producto {
            width: 250px;
            /* todos los productos tendrán el mismo ancho */
            background-color: white;
            border: 1px solid #000;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
            transition: transform 0.3s ease, outline 0.3s ease; //agregados para la animación de agrandar el div
            box-sizing: border-box !important;

            a {
                color: rgb(0, 0, 0);
                text-decoration: none;

                img {
                    height: 240px;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }

        .bombillas:hover,
        .yerbas:hover,
        .termos:hover,
        .mates:hover {
            outline: 5px solid #000;
            transform: scale(1.09); //agregados para la animación de agrandar el div
            filter: initial; //agregados para la animación de agrandar el div
        }
    }


    nav {
        a {
            text-decoration: none;
            color: map-get($colores_textos, negro);
            border: outset rgb(132, 37, 37);

            &:hover {
                border: outset rgb(132, 37, 37);
                font-weight: 900;
                padding: 10px;
            }
        }
    }
}

@media screen and (max-width: 1400px) {

    .productos {
        .imagenesProductos {
            div {
                a {
                    h1 {
                        font-size: 1.5rem !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .productos {
        .imagenesProductos {
            div {
                a {
                    h1 {
                        font-size: 2rem !important;
                    }
                }
            }
        }
    }
}