@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "variables.scss";
@import "mixins.scss";
@import "resets.scss";
@import "header.scss";
@import "footer.scss";
@import "index.scss";
@import "products.scss";
@import "branches.scss";
@import "about.scss";
@import "contact.scss";
@import "termos.scss";
@import "yerbas.scss";
@import "mates.scss";
@import "bombillas.scss";



